
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: gainsboro;
}
ul{
    list-style: none;
}
.personal, .skills, .languages{
    padding: 1rem;
    line-height: 2;
}
main{
    margin: 1rem;
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-gap: 1rem;
    filter: drop-shadow(0 0 00.4rem black);
}
.left{
    background-color: #fff;
}

.left-image{
    position: relative;
}
.left-image img{
    width: 100%;
}
.left-image h2{
    position: absolute;
    bottom: 0;
    left: 1rem;
    color: azure;
}
.right{
    background-color: white;
    padding: 2rem;
}
.experience, .education, .reference{
    line-height: 2;
    margin: 2rem;
}
.experience ul{
    margin: 2rem 0;
}
.date{
    color: burlywood;
}
.current{
    background-color: burlywood;
    color: #fff;
    padding: 0.4rem;
    border-radius: 4px;
}
.education ul{
    margin: 2rem 0;
}
footer{
    background-color: beige;
    padding: 2rem 0;
    text-align: center;
    line-height: 1.5;
}
i{
    color: black;
}